<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kind Habits</title>
  </head>
  <body>
    <header>
      <div>
        <a href="/home">Home</a>
      </div>
      <div>
        <a href="/calendar">Calendar</a>
      </div>
      <div>
        <a href="/profile">Profile</a>
      </div>
    </header>
    <div>
      {{{body}}}
    </div>
  </body>
</html>
